.quiz-inner-container {
  max-width: 1080px;
  margin: 40px auto;
  background: #fff;
  border-radius: 18px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-inner-container h2 {
  font-family: Baskerville, serif;
  font-size: 36px;
  color: #7a4a2f;
  margin-bottom: 32px;
  text-align: center;
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 1px solid #EBA439;
  padding-bottom: 40px;
  border-bottom: 1px solid #EBA439;
  margin-bottom: 32px;
  width: 100%;
}

.quiz-options button {
  background: none;
  border: none;
  padding: 0;
  font-family: Baskerville, serif;
  font-size: 3.2rem;
  color: #7a4a2f;
  cursor: pointer;
  min-width: 180px;
  min-height: 80px;
  max-width: 520px;
  margin-bottom: 30px;
  position: relative;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.quiz-option-img-wrapper-cover {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
}

.quiz-option-img-wrapper-cover::after {
  content: '';
  position: absolute;
  inset: 10px;
  border: 3px solid #EBA439; /* Change color and width as needed */
  border-radius: 6px;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}

.quiz-option-img-wrapper-cover:hover::after {
  opacity: 1;
}

.quiz-option-img-wrapper-cover img {
  border-radius: 14px;
  border: none; /* Remove default border if any */
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

.quiz-option-img-wrapper-icon {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0 0 0 / 12%);
  border-radius: 14px;
  aspect-ratio: 4/3;
  min-height: 365px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quiz-option-img-wrapper-icon::after {
  content: '';
  position: absolute;
  inset: 10px;
  border: 3px solid #EBA439; /* Change color and width as needed */
  border-radius: 6px;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}

.quiz-option-img-wrapper-icon:hover::after {
  opacity: 1;
}

.quiz-option-img-wrapper-icon img{
  border: none; /* Remove default border if any */
  display: block;
  max-height: 200px;
  object-fit: scale-down;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

.quiz-option-img-wrapper-cover:hover img {
  filter: brightness(0.7);
  transition: filter 1s;
}

.quiz-option-description {
  margin-top: 20px;
}

.quiz-progress {
  margin-top: 12px;
  color: #58181D;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.quiz-result {
  max-width: 100%;
  margin: 16px auto;
  background: #e05633;
  border-radius: 18px;
  color: #fff;
  font-size: 1.8rem;
  padding: 48px 32px 40px;
  text-align: center;
  box-shadow: 0 4px 24px rgba(0 0 0 / 7%);
}

.quiz-result h1 {
  font-size: 5.6rem;
  margin-bottom: 16px;
  font-family: Baskerville, serif;
  font-weight: 400;
}

.quiz-result h2 {
  font-size: 3.6rem;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Baskerville, serif;
}

.quiz-result p {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 24px;
}

@media (width <= 700px) {
  .quiz-inner-container, .quiz-result {
    max-width: 98vw;
    padding: 18px 4vw;
  }

  .quiz-options button {
    min-width: 120px;
    padding: 16px 8px;
    font-size: 1rem;
  }
}

.quiz-slider-row {
  width: 90%;
  background: #fff;
  border-radius: 12px;
  padding: 18px 24px;
  margin-bottom: 18px;
  box-shadow: 0 2px 8px rgba(0 0 0 / 4%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quiz-slider-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.quiz-slider-label {
  color: #7a4a2f;
  font-weight: 500;
  font-size: 1.4rem;
}

.quiz-slider-label.right {
  text-align: right;
}

.quiz-slider {
  width: 100%;
  accent-color: #f4a32c;
  height: 8px;
  border-radius: 8px;
  background: #e0e0e0;
  outline: none;
}

.quiz-slider::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f4a32c;
  border: 3px solid #fff;
  box-shadow: 0 2px 8px rgba(244 163 44 / 15%);
  cursor: pointer;
  transition: background 0.2s;
}

.quiz-slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 8px;
  background: #e0e0e0;
}

.quiz-slider:focus::-webkit-slider-thumb {
  outline: 2px solid #f4a32c;
}

.quiz-slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f4a32c;
  border: 3px solid #fff;
  box-shadow: 0 2px 8px rgba(244 163 44 / 15%);
  cursor: pointer;
}

.quiz-slider::-moz-range-track {
  height: 8px;
  border-radius: 8px;
  background: #e0e0e0;
}

.quiz-slider::-ms-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f4a32c;
  border: 3px solid #fff;
  box-shadow: 0 2px 8px rgba(244 163 44 / 15%);
  cursor: pointer;
}

.quiz-slider::-ms-fill-lower,
.quiz-slider::-ms-fill-upper {
  background: #e0e0e0;
  border-radius: 8px;
}

.quiz-slider:focus {
  outline: none;
}

.profile-heading {
  font-family: Baskerville, serif;
  font-size: 3.6rem;
  color: #58181D;
  margin-top: 58px;
  margin-bottom: 0;
  text-align: center;
}

.profile-title {
  font-family: Baskerville, serif;
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 8px;
  text-align: center;
}

.profile-subtitle {
  color: #fff;
  margin-bottom: 18px;
  text-align: center;
  font-style: italic;
}

.profile-description {
  color: #fff;
  margin-bottom: 32px;
  text-align: center;
}

.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-subtitle p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 22px;
  text-align: center;
  line-height: 1.5;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-label {
  font-size: 1.6rem;
  color: #58181D;
  margin-bottom: 7px;
  font-weight: 500;
  text-align: left;
}

.login-input {
  padding: 12px 14px;
  border-radius: 50px;
  border: 2px solid #EBA439;
  background: #fafbfc;
  font-size: 2rem;
  color: #1e3a4c;
  box-shadow: 0 1px 2px rgba(30 58 76 / 4%);
  transition: border 0.2s;
  margin-bottom: 30px;
}

.login-input:focus {
  border: 1.5px solid #e05633;
  outline: none;
}

.login-btn {
  width: 110px;
  padding: 14px 0;
  background: #00647D;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
  box-shadow: 0 2px 8px rgba(30 58 76 / 8%);
  transition: background 0.2s;
}

.login-forgot {
  display: block;
  margin: 14px auto 0;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.login-form .login-forgot {
  color: #fff;
  text-decoration: none;
}

.login-bottom-text {
  margin-top: 18px;
  text-align: center;
  font-size: 1.6rem;
  color: #58181D;
}

.login-create {
  color: #A33532;
  text-decoration: underline;
  margin-left: 4px;
  font-weight: 500;
  transition: color 0.2s;
}

.login-create:hover, .login-create:focus {
  color: #1e3a4c;
}

.step-0{
  view-transition-name: step-0;
}

.step-1{
  view-transition-name: step-1;
}

.step-2{
  view-transition-name: step-2;
}

.step-3{
  view-transition-name: step-3;
}

.step-4{
  view-transition-name: step-4;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}